@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-input {
    @apply border border-black/30 rounded-md px-2 py-1 outline-none text-base w-full placeholder:text-black
  }

  .categoryTitle {
    @apply text-2xl font-semibold text-white mb-8 pl-12;
  }
}

.bgImage {
  background-image: url("../public/assets/banner-detail.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
